
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.pdb
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.dll
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.AssemblyReference.cache
DotNet20BridgeNet4x/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.AssemblyReference.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.exe
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.pdb
DotNet20BridgeNet4x.Test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.exe
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.pdb
DotNet20BridgeNet4x/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.dll
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.pdb
DotNet20BridgeNet4x.Test/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.CopyComplete
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.csproj.AssemblyReference.cache
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.CopyComplete
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.csproj.AssemblyReference.cache
DotNet20BridgeNet4x/obj/Release/DotNet20BridgeNet4x.csproj.CopyComplete
Mono.Posix.Net20/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mono.Posix.Net20/obj/Debug/Mono.Posix.Net20.csproj.CoreCompileInputs.cache
Mono.Posix.Net20/obj/Debug/Mono.Posix.Net20.csproj.FileListAbsolute.txt
Mono.Posix.Net20/obj/Debug/Mono.Posix.Net20.dll
Mono.Posix.Net20/obj/Debug/Mono.Posix.Net20.pdb
Mono.Posix.Net20/obj/Debug/System.Mono.Posix.Net20.dll
Mono.Posix.Net20/obj/Debug/System.Mono.Posix.Net20.pdb
Mono.Posix.Net20/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Mono.Posix.Net20/obj/Release/Mono.Posix.Net20.csproj.CoreCompileInputs.cache
Mono.Posix.Net20/obj/Release/Mono.Posix.Net20.csproj.FileListAbsolute.txt
Mono.Posix.Net20/obj/Release/System.Mono.Posix.Net20.dll
Mono.Posix.Net20/obj/Release/System.Mono.Posix.Net20.pdb
System.Core.Net20/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
System.Core.Net20/obj/Debug/System.Core.Net20.csproj.AssemblyReference.cache
System.Core.Net20/obj/Debug/System.Core.Net20.csproj.CoreCompileInputs.cache
System.Core.Net20/obj/Debug/System.Core.Net20.csproj.FileListAbsolute.txt
System.Core.Net20/obj/Debug/System.Core.Net20.dll
System.Core.Net20/obj/Debug/System.Core.Net20.pdb
System.Core.Net20/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
System.Core.Net20/obj/Release/System.Core.Net20.csproj.AssemblyReference.cache
System.Core.Net20/obj/Release/System.Core.Net20.csproj.CoreCompileInputs.cache
System.Core.Net20/obj/Release/System.Core.Net20.csproj.FileListAbsolute.txt
System.Core.Net20/obj/Release/System.Core.Net20.dll
System.Core.Net20/obj/Release/System.Core.Net20.pdb
Mono.Posix.Net20/obj/Release/Mono.Posix.Net20.csproj.AssemblyReference.cache
Mono.Posix.Net20/obj/Debug/Mono.Posix.Net20.csproj.AssemblyReference.cache
Mono.Security.Net20/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mono.Security.Net20/obj/Debug/Mono.Security.Net20.csproj.AssemblyReference.cache
Mono.Security.Net20/obj/Debug/Mono.Security.Net20.csproj.CoreCompileInputs.cache
Mono.Security.Net20/obj/Debug/Mono.Security.Net20.csproj.FileListAbsolute.txt
Mono.Security.Net20/obj/Debug/Mono.Security.Net20.dll
Mono.Security.Net20/obj/Debug/Mono.Security.Net20.pdb
Mono.Security.Net20/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Mono.Security.Net20/obj/Release/Mono.Security.Net20.csproj.CoreCompileInputs.cache
Mono.Security.Net20/obj/Release/Mono.Security.Net20.csproj.FileListAbsolute.txt
Mono.Security.Net20/obj/Release/Mono.Security.Net20.dll
Mono.Security.Net20/obj/Release/Mono.Security.Net20.pdb
System.Buffers.Net20/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.AssemblyReference.cache
System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.CoreCompileInputs.cache
System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.FileListAbsolute.txt
System.Buffers.Net20/obj/Release/System.Buffers.Net20.dll
System.Buffers.Net20/obj/Release/System.Buffers.Net20.pdb
DotNet20BridgeNet4x.Test/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
*.cache
System.Numerics.Net20/obj/Debug/System.Numerics.Net20.csproj.FileListAbsolute.txt
System.Numerics.Net20/obj/Debug/System.Numerics.Net20.dll
System.Numerics.Net20/obj/Debug/System.Numerics.Net20.pdb
System.Numerics.Net20/obj/Release/System.Numerics.Net20.csproj.FileListAbsolute.txt
System.Numerics.Net20/obj/Release/System.Numerics.Net20.dll
System.Numerics.Net20/obj/Release/System.Numerics.Net20.pdb
System.Security.Net20/obj/Debug/build.force
System.Security.Net20/obj/Debug/System.Security.Net20.csproj.CopyComplete
System.Security.Net20/obj/Debug/System.Security.Net20.csproj.FileListAbsolute.txt
System.Security.Net20/obj/Debug/System.Security.Net20.dll
System.Security.Net20/obj/Debug/System.Security.Net20.pdb
System.Security.Net20/obj/Release/build.force
System.Security.Net20/obj/Release/System.Security.Net20.csproj.CopyComplete
System.Security.Net20/obj/Release/System.Security.Net20.csproj.FileListAbsolute.txt
System.Security.Net20/obj/Release/System.Security.Net20.dll
System.Security.Net20/obj/Release/System.Security.Net20.pdb
System.MvvmBridge.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.dgspec.json
System.MvvmBridge.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.g.props
System.MvvmBridge.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.g.targets
System.MvvmBridge.Net20/MvvmBridge/obj/project.assets.json
System.MvvmBridge.Net20/MvvmBridge/obj/Release/net35/MvvmBridge.AssemblyInfo.cs
System.MvvmBridge.Net20/MvvmBridge/obj/Release/net35/MvvmBridge.GeneratedMSBuildEditorConfig.editorconfig
System.MvvmBridge.Net20/obj/Release/System.MvvmBridge.Net20.csproj.FileListAbsolute.txt
System.MvvmBridge.Net20/obj/Release/System.MvvmBridge.Net20.dll
System.MvvmBridge.Net20/obj/Release/System.MvvmBridge.Net20.pdb
System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.csproj.FileListAbsolute.txt
System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.dll
System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.pdb
System.Core.corlib.Net20/obj/Release/System.corlib.Net20.pdb
System.Core.corlib.Net20/obj/Release/System.corlib.Net20.dll
System.Core.corlib.Net20/obj/Release/System.corlib.Net20.csproj.FileListAbsolute.txt
Mono.MicroThreading.Net20/obj/Release/TempPE/Logger.Logger.Extensions.cs.dll
Mono.MicroThreading.Net20/obj/Release/TempPE/Logger.ILogger.Extensions.cs.dll
Mono.MicroThreading.Net20/obj/Release/Mono.MicroThreading.Net20.pdb
Mono.MicroThreading.Net20/obj/Release/Mono.MicroThreading.Net20.dll
Mono.MicroThreading.Net20/obj/Release/Mono.MicroThreading.Net20.csproj.FileListAbsolute.txt
Mono.MicroThreading.Net20/obj/Release/Mono.MicroThreading.Net20.csproj.CopyComplete
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.BridgeMvvm.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.BridgeMvvm.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.BridgeMvvm.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.BridgeMvvm.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.MvvmBridge.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.MvvmBridge.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/obj/Release/System.MvvmBridge.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinq.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinq.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinq.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinqExp.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinqExp.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.BridgeLinqExp.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqBridge.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqBridge.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqBridge.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqExpress.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqExpress.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj/Release/System.LinqExpress.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeDynamic.Net20/obj/Release/build.force
MinimumBridgeSystemNet20LIB/System.BridgeDynamic.Net20/obj/Release/System.BridgeDynamic.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeDynamic.Net20/obj/Release/System.BridgeDynamic.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeDynamic.Net20/obj/Release/System.BridgeDynamic.Net20.pdb
MinimumBridgeSystemNet20LIB/System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.dll
MinimumBridgeSystemNet20LIB/System.Windows.Threading.Net20/obj/Release/System.Windows.Threading.Net20.pdb
MinimumBridgeOtherNet20LIB/Mono.Mathematics.Net20/obj/Release/Mono.Mathematics.Net20.csproj.FileListAbsolute.txt
MinimumBridgeOtherNet20LIB/Mono.Mathematics.Net20/obj/Release/Mono.Mathematics.Net20.dll
MinimumBridgeOtherNet20LIB/Mono.Mathematics.Net20/obj/Release/Mono.Mathematics.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeReflection.Net20/obj/Release/System.BridgeReflection.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeReflection.Net20/obj/Release/System.BridgeReflection.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeReflection.Net20/obj/Release/System.BridgeReflection.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/Release/net35/MvvmBridge.GeneratedMSBuildEditorConfig.editorconfig
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/Release/net35/MvvmBridge.AssemblyInfo.cs
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/project.assets.json
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.g.targets
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.g.props
MinimumBridgeSystemNet20LIB/System.BridgeMvvm.Net20/MvvmBridge/obj/MvvmBridge.csproj.nuget.dgspec.json
MinimumBridgeSystemNet20LIB/System.Numerics.Net20/obj/Release/System.Numerics.Net20.csproj.FileListAbsolute.txt
System.Core.Net20/obj/Release/System.Core.Net20.csproj.CopyComplete
DotNet20BridgeNet4x.Test/obj/Release/build.force
.vs/DotNet20BridgeNet4x/v16/TestStore/0/000.testlog
.vs/DotNet20BridgeNet4x/v16/TestStore/0/testlog.manifest
*.CopyComplete
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.x86.exe
DotNet20BridgeNet4x.Test/obj/Release/DotNet20BridgeNet4x.Test.x86.pdb
MinimumBridgeSystemNet20LIB/System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.Buffers.Net20/obj/Release/System.Buffers.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.Numerics.Net20/obj/Release/System.Numerics.Net20.dll
MinimumBridgeSystemNet20LIB/System.Numerics.Net20/obj/Release/System.Numerics.Net20.pdb
*.props
*.targets
System.Memory/obj/System.Memory.csproj.nuget.dgspec.json
System.Memory/obj/project.assets.json
System.Memory/.vs/System.Memory/v17/.suo
System.Memory/.vs/System.Memory/v17/.futdcache.v2
MinimumBridgeSystemNet20LIB/System.Numerics.Net20/obj/Release/System.Numerics.Net20.pdb
MinimumBridgeSystemNet20LIB/System.Numerics.Net20/obj/Release/System.Numerics.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.BridgeXmlLinq.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.BridgeXmlLinq.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.Xml.Linq.Net20.dll
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.Xml.Linq.Net20.pdb
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.BridgeXmlLinq.Net20.csproj.FileListAbsolute.txt
MinimumBridgeSystemNet20LIB/System.BridgeXmlLinq.Net20/obj/Release/System.Xml.Linq.Net20.csproj.FileListAbsolute.txt
/System.Core.Net20/obj
/MinimumBridgeSystemNet20LIB/System.BridgeLinqExp.Net20/obj
