
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.pdb
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.dll
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x/obj/Debug/DotNet20BridgeNet4x.csproj.AssemblyReference.cache
DotNet20BridgeNet4x/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.AssemblyReference.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.CoreCompileInputs.cache
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.csproj.FileListAbsolute.txt
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.exe
DotNet20BridgeNet4x.Test/obj/Debug/DotNet20BridgeNet4x.Test.pdb
